@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins-Regular;
}

.profil-container {
  padding: 20px;
  width: 100%;
}

.profil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.foto_profil {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.user > ul {
  list-style-type: none;
  margin-left: 40px;
  align-items: center;
}

.user-username {
  font-size: 30px;
}

.user-email {
  font-size: 13px;
}

.user-tgl {
  font-size: 14px; 
  margin-top:19px;
}

.btn-primary {
  font-size: 12px;
}

.edit > a > button {
  text-decoration: none;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  border: none;
  background-color: rgb(225, 225, 225, 0.7);
  margin-left: 50px;
}

.edit > a > button:hover {
  background-color: rgba(199, 194, 194, 0.7);
}

.nav_profil {
  width: 100%;
}

.postingan > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.ac-post {
 margin-right: 30px;
}

.ac-album {
  margin-right: 30px;
 }

.postingan > ul > li > a {
  text-decoration: none;
  color: black;
}

.postingan > ul > li > a:hover {
  color: rgb(202, 110, 202);
  transition: all 0.2s ease-in-out;
}

.active {
  background-color: #e0cbe3;
  height: 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 40px;
}

.batas {
  border-color: rgb(225, 225, 225, 0.2);
  margin-left: 20px;
}

.batas > hr {
  width: 99%;
  border-width: 3px;
  border-color: rgb(225, 225, 225, 0.1);
}


@media (max-width: 537px) {
  .foto_profil {
    width: 100px;
    height: 100px;
  }

  .user-username {
    font-size: 25px;
  }
  
  .user-email {
    font-size: 11px;
  }
  
  .user-tgl {
    font-size: 11px; 
  }

  .btn-primary {
    font-size: 10px;
  }
  
  .edit > a > button {
    width: 80px;
    height: 30px;
  }

  .postingan > ul {
    font-size: 10px;
  }
}


@media (max-width: 458px) {
  .foto_profil {
    width: 100px;
    height: 100px;
  }

  .user-username {
    font-size: 25px;
  }
  
  .user-email {
    font-size: 11px;
  }
  
  .user-tgl {
    font-size: 11px; 
  }

  .btn-primary {
    font-size: 10px;
  }
  
  .edit > a > button {
    width: 80px;
    height: 30px;
    margin-left: 30px;
  }

  .postingan > ul {
    font-size: 10px;
  }
}


@media (max-width: 425px) {
  .foto_profil {
    width: 100px;
    height: 100px;
  }

  .user-username {
    font-size: 25px;
  }
  
  .user-email {
    font-size: 11px;
  }
  
  .user-tgl {
    font-size: 11px; 
  }

  .btn-primary {
    font-size: 10px;
  }
  
  .edit > a > button {
    width: 80px;
    height: 30px;
    margin-left: 30px;
  }

  .postingan > ul {
    font-size: 10px;
  }

  .user > ul {
    margin-left: 20px;
  }
}

@media (max-width: 395px) {
  .foto_profil {
    width: 80px;
    height: 80px;
  }

  .user-username {
    font-size: 20px;
  }
  
  .user-email {
    font-size: 10px;
  }
  
  .user-tgl {
    font-size: 9px; 
  }

  .btn-primary {
    font-size: 10px;
  }
  
  .edit > a > button {
    width: 80px;
    height: 30px;
    margin-left: 30px;
  }

  .postingan > ul {
    font-size: 10px;
  }

  .user > ul {
    margin-left: 20px;
  }
}


@media (max-width: 355px) {
  .foto_profil {
    width: 70px;
    height: 70px;
  }

  .user-username {
    font-size: 18px;
  }
  
  .user-email {
    font-size: 9px;
  }
  
  .user-tgl {
    font-size: 8px; 
  }

  .btn-primary {
    font-size: 9px;
  }
  
  .edit > a > button {
    width: 70px;
    height: 20px;
    margin-left: 20px;
  }

  .postingan > ul {
    font-size: 9px;
  }

  .user > ul {
    margin-left: 15px;
  }
}